<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container" style="background-image: url();">
    <div class="row">
      <div class="col-md-6">  <h3 class="text-center my-4">Search for Weather:</h3>

        <form [formGroup]="weather" (ngSubmit)="sendToAPIXU(weather.value)">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                placeholder="Please Enter Location"
                formControlName="location"
              />
             </div><br>
             <div class="text-center"> 
              <button type="submit" class="btn btn-success btn-md">
                Search for the weather</button>
             </div>
           </form> 

    </div>
      <div  *ngIf="weatherData?.current" class="card" id="card1" style="width: 28rem;" [ngStyle]="{'background-color':bgColor }"> 
        <div class="card-body" >
          <i  [ngStyle]="{'color':clr }" class="fa fa-sun-o fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
          <!-- <i class="fa-li fa fa-spinner fa-spin fa-3x"></i> -->
        <h4 [ngStyle]="{'color':clr }">{{weatherData?.location.name}} :{{weatherData?.current.temperature}} °C</h4>
        <h5 [ngStyle]="{'color':clr }">{{weatherData?.current.weather_descriptions}}</h5>
       
</div>
      </div>
    </div>
  </div>