
span{
  color: red;
  margin: 5px;
  
}
.btn {
  background-color: darkorange ;
}
.container{
  margin:50px auto;
  width: 600px;
  height: 300px;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px skyblue;
 background: url("/assets/three.png");
 

}
.row{
    display: flex !important;
    flex-direction: column !important;
    padding: 20px 0;
}
.card{
  margin:50px auto;
  width: 400px;
  height: 250px;
  padding: 10px;
  box-shadow: 0px 0px 10px 2px gray;

}
.col-md-6{
    margin-left: 25%;

}
.fa-li{
position: initial;
padding: 10px;
}
h4{
    position: absolute;
    white-space: nowrap;
    margin-left: -27px;
    padding: 29px;
    font-size: 40px;
    text-align: center;
    animation: floatText 5s infinite alternate ease-in-out;
}


@keyframes floatText{
    0%   { transform:scale(0); }
  30% { transform:scale(1); }

  from {
    left: 20%;
    opacity: 0.2;
  }

  to {
    /* left: auto; */
    left: 20%;
    
  }
}
.card {
    
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    
  }
  .card-body{
    margin: initial;

  }
  img{
    border-radius: 19px;

  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  img{

  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
 
  
  }
  @keyframes example{
    0%   {left:0px; top:0px;}
    25%  { left:30px; top:0px;}
    
    100% {left:0px; right:0px;top:0px;}
  }
  