.navbar{
  background-color: rgb(69, 106, 171);
}
.navbar a{
  color: white;
  font-size: 25px;
  margin: 2px;
  padding: 5px;
}


span{
  color: red;
  margin: 70px;
  
}
.btn {
  background-color: darkorange ;
}
.container{
  margin:50px auto;
  width: 1000px;
  height: 300px;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px skyblue;
 background: url("/assets/three.png");
 opacity: 0.8;
 border-radius: 5px;

}
.container input{
  width: 70%;
  margin: auto;
}
.row{
    display: flex !important;
    flex-direction: column !important;
    padding: 20px 0;
}

.col-md-6{
    margin-left: 25%;

}
.fa-li{
position: initial;
padding: 10px;
}
h4{
    position: absolute;
    white-space: nowrap;
    margin-left: -27px;
    padding: 29px;
    font-size: 40px;
    text-align: center;
    animation: floatText 5s infinite alternate ease-in-out;
}

.widget {
    
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    
  }
  
  .bgimage{
    border-radius: 19px;
    width: 108px;

  }

  

  @keyframes shake {
    
    
   
  }

  .bgimage{

  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
 
  
  }
  @keyframes example{
    0%   {left:0px; top:0px;}
    25%  { left:30px; top:0px;}
    
    100% {left:0px; right:0px;top:0px;}
  }
  @media screen and (max-width:1250px){
    .container{
      width: 50%;
    margin-left: 50px;
    }
  }
  @media screen and (max-width:750px){
    .container{
      width: 100%;
    margin: 40px auto;
    padding: 0px;
    }
    .row{
      float: none;
      width: 54%;     
       margin: 42px;
    }
    
  }
  @media screen and (max-width:1250px){
    .card{
      width: 100%;
    margin-left: 50px;
    }
  }
  @media screen and (max-width:750px){
    .card{
      width: 142%;
    margin: 43px auto;
    padding: 0px;
    }
    .card-body{
      width: 54%;     
       margin: 42px;
    }
    .card-body h4{
      padding: 0px;
    }
  }
  p{
    background-color:gray;
 border: 1px solid white;
 border-radius: 5px;
 box-shadow: 0px 0px 10px 2px skyblue;
 padding: 4px;
 margin:5px;
 color:yellowgreen;
 font-size: 20px;
  }
  h3{
    background-color:gray;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px skyblue;
    padding: 4px;
    margin:5px;
    
    font-size: 20px;
  }
  /*new*/


  @import url(https://fonts.googleapis.com/css?family=Poiret+One);
  
  
  
  
  
  .widget {
    
  box-shadow: 0px 0px 10px 2px skyblue;
 
 opacity: 0.8;
 border-radius: 10px;
    position: absolute;
    top: 70%;
    left: 50%;
    display: flex;
    height: 300px;
    width: 600px;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    cursor: pointer;
    margin-top: 10px;
  }
    .weatherIcon{
      flex: 1 100%;
      height: 60%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background: #FAFAFA;
      font-family: weathericons;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 100px;
    }
      
    
    
    .weatherInfo{
      flex: 0 0 70%;
      height: 40%;
      background: #080705;
      border-bottom-left-radius: 10px;
      display: flex;
      align-items: center;
      color: white;
    }
      .temperature{
        flex: 0 0 40%;
        width: 100%;
        font-size: 60px;
        display: flex;
        justify-content: space-around;
      }
      
      .description{
        flex: 0 60%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
      }
        .weatherCondition{
          text-transform: uppercase;
          font-size: 35px;
          font-weight: 100;
        }
        
        .place{
          font-size: 15px;
        }
      
    
    
    .date{
      flex: 0 0 30%;
      height: 40%;
      background: #70C1B3;
      border-bottom-right-radius: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: white;
      font-size: 30px;
      font-weight: 800;
    }
  

    
  
  
  